<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sources</key>
	<array>
		<dict>
			<key>name</key>
			<string>Gas</string>
			<key>sourceCategory</key>
			<integer>0</integer>
			<key>sourceType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Electricity</string>
			<key>sourceCategory</key>
			<integer>0</integer>
			<key>sourceType</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>conversions</key>
	<dict>
		<key>odometer-default</key>
		<dict>
			<key>dest</key>
			<string>direct-default</string>
			<key>factor</key>
			<real>0.891</real>
		</dict>
		<key>electricity-default</key>
		<dict>
			<key>dest</key>
			<string>direct-default</string>
			<key>factor</key>
			<real>1.2328</real>
		</dict>
		<key>gas-default</key>
		<dict>
			<key>dest</key>
			<string>direct-default</string>
			<key>factor</key>
			<real>11.7</real>
		</dict>
	</dict>
	<key>units</key>
	<array>
		<dict>
			<key>fid</key>
			<string>direct-default</string>
			<key>name</key>
			<string>lbs</string>
			<key>sourceType</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>fid</key>
			<string>odometer-default</string>
			<key>name</key>
			<string>Miles</string>
			<key>sourceType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>fid</key>
			<string>gas-default</string>
			<key>name</key>
			<string>Therms</string>
			<key>sourceType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fid</key>
			<string>electricity-default</string>
			<key>name</key>
			<string>kWh</string>
			<key>sourceType</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>references</key>
	<dict>
		<key>2</key>
		<dict>
			<key>name</key>
			<string>odometer-default</string>
			<key>rawValue</key>
			<integer>950</integer>
			<key>unit</key>
			<string>odometer-default</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<key>0</key>
		<dict>
			<key>name</key>
			<string>electricity-default</string>
			<key>rawValue</key>
			<integer>901</integer>
			<key>unit</key>
			<string>electricity-default</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>name</key>
			<string>gas-default</string>
			<key>rawValue</key>
			<integer>61</integer>
			<key>unit</key>
			<string>gas-default</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
